<%- include('./partials/head') %>
    <%- include('./partials/navbar') %>
        <div class="container pt-5">
            <h1>Welcome to Home Page
            </h1>
        </div>


        <%- include('./partials/footer') %>